body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: hsl(30, 38%, 92%);
}

h1, .prix1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

img[alt = "image-product-desktop"]{
        max-height: 80vh;
        max-width: 30vh;
        align-self: stretch;
        margin: 0;
        object-fit: cover;
        border-radius: 1em 0 0 1em;
}

input {
    color: white;
    background-color: hsl(158, 36%, 37%);
    background-image: url(images/icon-cart.svg);
    background-position: 24%;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 10%;
}

input.elem6 {
    justify-self: center;
    width: 80%;
    border-radius: 10px;
    
}

.box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto ;
    gap: 10px;
    width: 40%;
    background-color: white;
    border-radius: 1em;

}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 76vh;
    justify-content: center;
    flex-wrap: wrap;
}

img[alt = "image-product-mobile"]{
    display: none;
}

.elem1{
    align-self: flex-end;
}

.elem2{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
 }

.elem3{
    grid-row-start: 1;
    grid-row-end: 6;
}

.prix{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    
}

.prix1{
    color: hsl(158, 36%, 37%);
    
}

.prix2 {
    font-weight: 500;
    text-decoration: line-through;
    grid-row: 5;
    margin-top: 10px;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media screen  and (max-width: 900px){
    img{
        border-radius: 1em 1em 0 0;

    }

    img[alt = "image-product-mobile"]{
        display: block;
        margin-top: 0;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    
    img[alt = "image-product-desktop"]{
        display: none;
    }

    h1,p,.elem1 {
        margin-left: 5%;
    }

    .box{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1em;
        width: 400px;
        height: auto;
    }
    
    .flex{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        height: auto;
    }
    
    .elem1 {
        align-self: stretch;
    }

    input.elem6 {
        align-self: center;
        width: 50%;
        margin-bottom: 6%;
    }
}
